#titulo{
	color: white;
        background-color:#000033;
	font-family:"Courier New";
        font-size: 20px;
        height: 90px;
	padding: 9px;
        box-shadow: 3px 10px 29px 1px rgba(0,0,0,0.64);
}
a{
    text-decoration: none;
}
h2{
    text-align: center;
    color:#00cccc;
}
h4{
    text-align: right;
    color: white;
}
h1{
    color: white;
    font-family: "Courier New";
}
h3{
    color: white;
    font-family: "Courier New";
}
h5{
    color: white;
    font-family: "Courier New";
}
#imagen{
  text-align: right;
}
body{
    background-image: url("../imagenes/fondogris.jpg");
}
.tabla{
    width: 100%;
}
.tabla1{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tabla3{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #0D2F4F;
}
.td{
    width: 40%;
}
.td1{
    width: 15%;
}
.tabla2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.td2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.td3{
    width: 70%;
    height: 20%;
}
p{
    color: #000033;
    text-align: center;
    font-family:"Courier New";
    font-size: 30px;
}
.boton1{
   text-shadow: black 0.1em 0.1em 0.2em;
   color: #000033;
   font-size: 25px;
   font-weight: bold;
   font-family: "Courier New";
}
#agregar{
     font-family: "Courier New";
     font-size: 20px;
     font-weight: bold;
     color:#00cccc;
     text-align: right;
}
.boton{
    color: white;
    font-family: "Arial";
    font-size: 17px;
    font-weight: bold;
    background-color: #2EC8C1;
    border: 2px solid #2EC8C1;
    width:150px;
    height:80px;
    box-shadow: 3px 7px 15px 1px rgba(0,0,0,0.64);
}
.form{
    background-color: #EBF2F2;
    width: 120px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial";
    font-size: 13px;
    color: #595B5B;
}
.form1{
    background-color: #B0AEA3;
    width: 200px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial";
    font-size: 15px;
    color: #595B5B;
}
.rellenar1{
    background-color: white;
    border-top-color: #2BB5F5;
    width: 700px;
    height: 70px;
    text-align: center;
    font-family: "Arial";
    font-size: 15px;
    margin: -17px 0 0 -4px;
}

.rellenar{
    background-color: white;
    border-top-color: #2BB5F5;
    width: 350px;
    height: 60px;
    text-align: center;
    font-family: "Arial";
    font-size: 13px;
    margin: -17px 0 0 -4px;
}

.error{
    border-top-color: red;
}

.ok{
     border-top-color: #2BB5F5;
}

#err_txtContra{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtCorreo{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtAliasReg{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtContraReg{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtCorreoReg{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtTítulo{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtGénero{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtFecha{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtResumen{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtDirector{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtElenco{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_imgPoster{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtAlias{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtPuntuacion{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_txtComentario{
    color: red;
    font-family: "Arial";
    font-size: 13px;
}

#err_btnInicio{
    font-family: "Arial";
    font-size: 13px;
}

#err_btnRegistro{
    font-family: "Arial";
    font-size: 13px;
}

#err_btnAgregar{
    font-family: "Arial";
    font-size: 13px;
}

#err_btnAgregarCom{
    font-family: "Arial";
    font-size: 13px;
}